.user {
     display: inline-block;
     flex: 1;
     text-align: left;
     margin-top: 2px;
}

.username {
    height: 24px;
    line-height: 24px;
    display: inline-block;
    font-size: 0.9rem;
    color: rgba(0,0,0,0.5);
    margin-left: 4px;;
}
.username:hover {
    color: rgba(0,0,0,0.7);
    cursor: pointer;
}

.cartTitle {
    text-align: left;
    padding: 6px;
    display: block;
    text-decoration: none
}

.cardWrapper {
    width: 220px;
    padding: 10px;
    break-inside: avoid;
    position: relative;
    /* background-color: blue; */
}