input.input, textarea.textarea {
    font-size: 1rem;
    font-family: inherit;
    margin-bottom: 8px;
    padding: 6px;
    /* border-color: rgba(0,0,0,0.5); */
}
input.input:focus {
    border-color: rgba(0, 0, 0, 1);
}
input.input::placeholder, textarea.textarea::placeholder {
    color: rgba(0,0,0,0.4);
    transition: 0.2s;
}
input.input:focus::placeholder, textarea.textarea:focus::placeholder {
    color: rgba(0,0,0,0.2);
    /* font-size: 0.5rem; */
    /* vertical-align: -100px; */
    /* margin-top: 10px; */
}
input.input {
    border: none;
    outline: none;
    /* border-bottom: 1px solid black; */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    display: block;
    /* background-color: transparent; */
    /* font-size: 1rem; */
    /* width: 100%; */
    /* background-color: red; */
}
textarea.textarea {
    border: none;
    outline: none;
}